

    <%- include('./shared/head.ejs') %>
    <h2>Edit a Tweet</h2>
  <div class="row">
      <form class="col s12" method="POST" action='/addTweet'>
          <div class="row">
              <div class="input-field col s6">
                  <!-- <label for="first_name">Name  </label> -->
                  <br/>
                  <input name='name' placeholder="Title" id="last_name" type="text" class="validate">
              </div>
          </div>
      
          <div class="row">
              <div class="input-field col s12">
                  <!-- <label for="textarea1">Message</label> -->
                  <br/>
                  <textarea name='message'placeholder="Tweet" id="textarea1" class="materialize-textarea"></textarea>
              </div>
          </div>
          <button class="btn waves-effect waves-light" ><a href="/tweet" style="color: white;">Home</a></button>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit </button>

      </form>
  </div>
  
</body>
</html>